/* .header_menu {
    background: #000000; 
    background: -webkit-linear-gradient(to left, #4b4d4f, #000000);  
    background: linear-gradient(to left, #4b4d4f, #000000); 
} */
.header_menu h1 {
    text-align: left;
    margin-left: 50px;
}
.header_menu p {
    text-align: left;
    margin-left: 110px;
}
.menu {
    /* top: 25px; */
    right: 50px;
}
.nav_list {
    padding: 8px 140px;
}
.list_item {
    padding: 4px 140px;
}
.list_sub_item {
    padding: 4px 30px;
}
.profile_picture {
    width: 40%;
    max-width: 800px;
}

.whatsapp_active {
    width: 48px;
    height: 48px;
    bottom: 60px;
    right: 60px;
    transition: all 1s ease-in-out;
}
.contente_description {
    width: 44%;
}


.to_right_image_continer {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.content_image_profile {
    margin: 70px 0;
}

.content_image_profile img {
    width: 70%;
    height: 600px;
    object-fit: cover;
}
.paragraph_continer {
    max-width: 470px;
    font-size: 1.6rem;
    padding: 12px 20px;
    top: 420px;

}

.graphic_menu {
    width: 100%;
    height: 100vh;
    justify-content: center;
    position: relative;  
    
}
.content_cards {
    margin: 70px 0 30px;
}

.card_menu {
    width: 120px;
    height: 180px;
   
}
.image_menu {
    width: 80px;
    height: 80px;
    margin: 15px 0 30px;
}
.card_menu a {
    color: var(--total_black);
    font-size: 1.4rem;
    line-height: 14px;
    letter-spacing: 0.6px;
}
@media screen and (min-width: 750px) and (min-height: 900px) {
    .contente_description h1 {
        font-size: 2.4rem;
    }
    .contente_description p {
        font-size: 1.4rem;
        line-height: 14px;
    }
    .profile_information_content {
        padding: 100px 0 80px;
    }
    .content_interactive_text {
        width: 100%;
        max-width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 40px;
        padding-left: 20px;
    }
    .content_text_personal_description {
        width: 80%;
        max-width: 540px;
    }
    .referens_persoal_data h1 {
        font-size: 2.4rem;
    }
    .referens_persoal_data p {
        font-size: 1.3rem;
        line-height: 13px;
    }
    .formation_experience_attention {
        width: 90%;
        max-width: 540px;
        margin: 36px 0;
        gap: 16px;
    }
    .card_content {
        padding: 10px 8%;
        gap: 6px;
    }
    .formation_icon {
        width: 16px;
        height: 16px;
    }
    .description_card p {
        font-size: 1.4rem;
    }
    .formation_description ul li {
        font-size: 1.2rem;
        line-height: 12px;
        margin-bottom: 8px;
    }
    .attention {
        width: 80%;
        max-width: 540px;
    }
    .attention_icon {
        width: 23px;
        height: 26px;
    }
    .description_atention p {
        font-size: 2rem;
        line-height: 20px;
        letter-spacing: 1px;
    }
    .content_atention_description {
        padding: 10px 0 0 10px;
    }
    .content_atention_description ul li {
        font-size: 1.6rem;
    }
    .space_separator {
        height: 12px;
    }
    .content_action_personal_data {
        width: 80%;
        max-width: 540px;
        align-items: center;
        gap: 30px;
        margin: 60px 0 30px;
    }
    .content_action_personal_data p {
        font-size: 2.8rem;
        letter-spacing: 1.6px;
    }

    .button_action .color_in_black {
        font-size: 2rem;
    }
    .to_right_image_continer {
        height: 580px;
    }

    .content_image_profile img {
        height: 640px;
        max-width: 540px;
    }
    .paragraph_continer {
        max-width: 500px;
        font-size: 1.8rem;
        padding: 12px 20px;
        top: 420px;
        right: 8%;
    }
    .graphic_menu {
        width: 100%;
        height: auto;
        padding: 80px 0 60px;
        justify-content: center;
        position: relative;  
        
    }
    .content_cards {
        margin: 80px 0 50px;
        max-width: 540px;
    }
    
    .card_menu {
        width: 150px;
        height: 220px;
       
    }
    .image_menu {
        width: 100px;
        height: 100px;
        margin: 20px 0 30px;
    }
    .card_menu a {
        color: var(--total_black);
        font-size: 1.4rem;
        line-height: 14px;
        letter-spacing: 0.6px;
        text-align: center;
    }
}

@media screen and (min-width: 830px) and (max-height: 800px){ 
    .profile_information_content {
        flex-direction: row;
        padding: 100px 0 40px;
        justify-content: space-between;
        align-items: flex-end;
        overflow: hidden;
    }
    .contente_description {
        width: 300px;
        max-width: 300px;
        padding: 12px 0 12px 20px;
    }

    .loader {
        padding: 0px;
    }

    .button_action {
        justify-content: flex-end;
        width: 200px;
        margin-left: 200px;
    }
    
    .content_interactive_text{
        width: 460px;
        max-width: 460px;
        padding-left: 30px;
    }
    .contente_description h1 {
        margin-bottom: 6px;
    }

    .contente_description p {
        font-size: 1.2rem;
        line-height: 14px;
    }

    .content_text_personal_description {
        width: 80%;
        max-width: 540px;
    }
    .referens_persoal_data h1 {
        font-size: 2.4rem;
    }
    .referens_persoal_data p {
        font-size: 1.3rem;
        line-height: 13px;
    }

    .whatsapp_active {
        width: 44px;
        height: 44px;
        bottom: 40px;
        right: 60px;
        transition: all 1s ease-in-out;
    }
    .formation_experience_attention {
        max-width: 540px;
        gap: 32px;
    }
    
    .card_content {
        padding: 10px 8%;
        gap: 6px;
    }
    .formation_icon {
        width: 16px;
        height: 16px;
    }
    .description_card p {
        font-size: 1.4rem;
    }
    .formation_description ul li {
        font-size: 1.2rem;
        line-height: 12px;
        margin-bottom: 8px;
    }

    .description_card {
        gap: 14px;
    }

    .formation_icon {
        width: 18px;
        height: 18px;
    }

    .attention {
        width: 80%;
        max-width: 540px;
    }
    .attention_icon {
        width: 23px;
        height: 26px;
    }
    .description_atention p {
        font-size: 2rem;
        line-height: 20px;
        letter-spacing: 1px;
    }

    .content_atention_description ul li {
        font-size: 1.6rem;
    }
    .content_action_personal_data {
        width: 80%;
        max-width: 540px;
        align-items: center;
        gap: 30px;
        margin: 50px 0 30px;
    }
   
    .content_action_personal_data p {
        font-size: 2.8rem;
        letter-spacing: 1.6px;
    }

    .button_action .color_in_black {
        font-size: 2rem;
    }
    .to_right_image_continer {
        width: 76%;
        height: 380px;
    }

    .content_image_profile {
        margin: 40px 0;
    }
    .content_image_profile img {
        width: 40%;
        height: 400px;
    }
    .paragraph_continer {
        max-width: 350px;
        font-size: 1.6rem;
        padding: 12px 20px;
        top: 29px;
        right: 8%;
    }
    .graphic_menu {
        width: 100%;
        height: auto;

    }
    .content_cards {
        margin: 50px 0 10px;
        max-width: 540px;
    }
    
    .card_menu {
        width: 160px;
        height: 200px;
       
    }
    .image_menu {
        width: 100px;
        height: 100px;
        margin: 20px 0 30px;
    }
    .card_menu a {
        color: var(--total_black);
        font-size: 1.4rem;
        line-height: 14px;
        letter-spacing: 0.6px;
        text-align: center;
    }
  
}

@media screen and (min-width: 1020px) {
    
    .contente_description {
        width: 33%;
    }
    .contente_description h1 {
        font-size: 2.6rem;
        margin-bottom: 6px;
    }
    .contente_description p {
        font-size: 1.4rem;
        line-height: 14px;
    }
    .loader {
        font-size: 2.8rem;
        letter-spacing: 1px;
    }
    .text_action_content P {
        font-size: 2rem;
        letter-spacing: 0.8px;
    }
    .button_action p {
        font-size: 2.4rem;

    }
    .content_text_personal_description {
        max-width: 700px;
    }
    .formation_experience_attention {
        width: 90%;
        max-width: 700px;
        margin: 60px 0;
        gap: 60px;
    }
    .card_content {
        padding: 16px 8%;
        gap: 6px;
        border-radius: 12px;
    }
    .formation_description ul li {
        margin-bottom: 10px;
    }
    .attention {
        max-width: 700px;
    }
    .content_action_personal_data {
        max-width: 700px;
    }
    .to_right_image_continer {
        height: 760px;
    }
    .content_image_profile {
        margin: 80px 0;
    }
    .content_image_profile img {
        height: 790px;
        width: 64%;
        max-width: 662px;
    }
    .paragraph_continer {
        max-width: 550px;
        font-size: 2.2rem;
        padding: 16px 24px;
        top: 460px;
        right: 10%;
        border-radius: 12px;
    }
    .paragraph_continer strong {
        padding: 0 4px;
    }
    .graphic_menu {
        width: 100%;
        height: auto;
        padding: 120px 0 90px;
        justify-content: center;
        position: relative;
    }
    .content_cards {
        margin: 100px 0 60px;
        max-width: 700px;
    }
    .card_menu {
        width: 180px;
        height: 230px;
    }
    .card_menu a {
        font-size: 1.6rem;
        line-height: 16px;
    }
}