.header_menu {
    height: 80px;
    margin: 0 auto;
    flex-direction: column;
    animation: none;
}

.header_menu h1 {
    font-size: 2rem;
}
.header_menu p {
    font-size: 1.6rem;
}

.menu {
    display: none;
}
.nav_menu{
    display: none;
}

.nav_list {
    display: none;
}

.forLGS-big {
    position: absolute;
    right: 20px;
    display: grid;
    grid-auto-flow: column;
    gap: 2em;
}
.list_item {
    padding: 0;
    font-weight: 300;
    color: var(--soft-grey);
    overflow: visible;
    position: relative;
    cursor: pointer;
    
}
.list_item:hover {
    scale: 1.1;
}
.nav_link {
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 1.5px;
    opacity: 0.8;
    padding: 4px;
    
}
.nav_link:hover {
    /* border-left: solid 2px var(--soft-grey); */
    border-bottom: solid 2px var(--soft-grey);
    color: var(--dow_green-text);
    opacity: 1;
    
}
.LGS-big_show1 {
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 8px;
    width: 180px;
    height: auto;
    top: 70px;
    background-color:  rgba(52, 52, 52, 0.825);
    box-shadow: 4px 4px 10px #272727d3;
    border-radius: 0px 0px 6px 0px;
    padding: 20px 0px;
    text-align: center;
    padding-left: 8px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 300ms ease;
}
.LGS-big_show1::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid rgba(52, 52, 52, 0.825);
    position: absolute;
    top: -12px;
    left: 20px;
}
.nav_sub_list {
    font-size: 1.6rem;
    line-height: 16px;
    letter-spacing: 1.2px;
    color: var(--soft-grey);
    padding-left: 6px;
    opacity: 0.8;
    display: flex;
    width: 100%;
}
.nav_sub_list:hover {
    border-left: solid 2px var(--soft-grey);
    opacity: 1;
    color: var(--sub_pink);
}

.list_item:hover .LGS-big_show1 {
    visibility: visible;
    opacity: 1;
    top: 40px;
}

.profile_picture {
    width: 40%;
    max-width: 800px;
    height: 330px;
}
.profile_picture img {
    width: calc(239px * 1.2);
    height: calc(317px * 1.2);
    display: flex;
    position: absolute;
    left: calc(50% - 186.4px);
    top: 20px;
}
.orange_circle {
    width: 360px;
    height: 360px;
    height: 360px;
    left: calc(50% - 226px);
    top: 140px;
}
.to_right {
    width: 24px;
    height: 24px;
    right: calc(50% - 100px);
    top: 16px;
}
.to_left {
    width: 36px;
    height: 36px;
    left: calc(50% - 216px);
    top: 142px;
}

.orange_tiny_circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: calc(50% - 193px);
    top: 73px;
}
.white_circle {
    width: 32px;
    height: 32px;
}
.black_back {
    left: calc(50% - 129px);
    top: 20px;
}
.photoF_bigLGS {
    display: none;
}

/* .photoF_bigLGS {
    width: 40%;
    height: 500px;
    display: flex;
    position: relative;
} */
/* .LGS {
    display: flex;
    position: absolute;
    width: calc(956px / 3);
    height: calc(1271px / 3);
    left: 80px;
    bottom: 16%;
} */

.contente_description {
    width: 400px;
    max-width: 400px;
    margin-bottom: 120px;
    padding: 12px 0 12px 30px;
}
.formation_experience_attention {
    max-width: 760px;
}
.card_content {
    height: 160px;
    padding: 8px 7%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
}

.content_interactive_text {
    width: 60%;
    max-width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0px;
    margin-top: 0px;
}

.loader {
    font-size: 3rem;
    height: 70px;
}
.word {
    padding-left: 10px;
}

.text_action_content {
    gap: 100px;
}
.text_action_content P {
    font-size: 2.4rem;
}
.button_action {
    margin-left: 320px;
}
.button_action p {
    font-size: 2.6rem;
}
/* .wave {
    display: flex;
    position: absolute;
    width: 300px;
    bottom: 16%; 
    left: 80px;
} */

/* .photoF_bigLGS h2 {
    display: flex;
    position: absolute;
    right: 80px;
    top: 100px;
    font-family: 'PT Serif', serif;
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 1.4px;
    color: #eda2d0fc;
    opacity: 0.4;
}
.photoF_bigLGS h3 {
    display: flex;
    position: absolute;
    right: 84px;
    top: 96px;
    font-family: 'PT Serif', serif;
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 1.4px;
    opacity: 0.7;
}
.photoF_bigLGS p {
    display: flex;
    position: absolute;
    max-width: 550px;
    right: 80px;
    top: 200px;
    font-size: 2.4rem;
    text-align: right;
    opacity: 0.8;
    padding-bottom: 32px;
    border-bottom: solid 4px #eda2d0fc;
} */

.about {
    width: 100vw;
    background: #eda2d0fc; 
    background: -webkit-linear-gradient(to bottom, #eda2d0fc, var(--silver));  
    background: linear-gradient(to bottom,#eda2d0fc, var(--silver)); 
}

.nav-items {
    left: calc(80% - 200px);   
}
.paragraph_continer {
    max-width: 950px;
    font-size: 2rem;
    text-align: center;
    color: var(--total_black);
    line-height: 1.6;
    opacity: 0.8;
}
.graphic_menu {
    display: none;
}
.footer {
    width: 100vw;
}
