@import './global.css';


.forLGS-big {
    display: none;
}
.photoF_bigLGS {
    display: none;
}

.header_menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 70px;
    min-height: 50px;
    background-color: transparent;
    transition: all 0.4s ease-in-out;

    /* animation-name: front;
    animation-duration: 5s;
    animation-iteration-count: 1; */
}

.bg_black {
    background-color: rgba(0, 0, 0, 0.825);
    transition: all 0.4s ease-in-out;
    border-bottom: solid 1px var(--sub_pink);
}
.bg_black_scrollable {
    background-color: rgba(0, 0, 0, 0.825);
    transition: all 0.6s ease-in-out;
}

@keyframes front {
    form {
       opacity: 1;
       width: 100vw;
       height: 100vh;
       
    }
    5% {
        width: 100vw;
        height: 100vh;
    }
    70% {
        width: 100vw;
        height: 100vh;
    }
    to {
        opacity: 0.8;
        width: 100vw;
        height: 70px;
    }
}
.header_menu h1 {
    text-align: center;
    margin-right: 40px;
    font-family: 'PT Serif', serif;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--soft-grey);
    letter-spacing: 2px;
}
.header_menu p {
    width: 260px;
    margin-left: calc(50% - 150px);
    text-align: center;
    font-size: 1.2rem;
    font-family: 'PT Serif', serif;
    color: var(--soft-grey);
    margin-top: 3px;
    letter-spacing: 1px;
}
.menu {
   position: absolute;
   width: 30px;
   height: 30px;
   top: 20px;
   right: 15px;
}
.menu span {
    display: block;
    width: 100%;
    height: 2px;
    background: var(--soft-grey);
    margin-top: 6px;
    transition: 600ms
}
.activeline1__bars-menu {
    transform: rotate(45deg) translate(5px, 6px) scale(0.7, 1.3);
    
}
.activeline2__bars-menu{
    opacity: 0;
    margin-left: -30px;
}
.activeline3__bars-menu {
    transform: rotate(-45deg) translate(5px, -6px) scale(0.7, 1.3);
}

/*estilos del menú interactivo*/

.nav_menu {
    width: 100%;
    height: auto;
    padding: 48px 0;
    display: flex;
    position: fixed;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 0 16px 16px;
    background-color: rgba(0, 0, 0, 0.825);
    clip-path: circle(0 at 100% 0);
    transition: clip-path 0.6s;
    transition: 0.5s ease-in-out;
    opacity: 0.2;
}

.activenav__menu--click {
    clip-path: circle(100% at 44% 56%);  
    opacity: 1;
}
.nav_list {
    text-align: left;
    text-decoration: none;
    padding: 8px 24px;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--dow_green-text);
}
.list_item {
    list-style: none;
    width: 100%;
    text-align: left;
    padding: 4px 24px;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--dow_green-text);
    overflow: hidden; /*escondemos los ul*/
}
.nav_button {
    display: flex;
    position: relative;
    width: 100%;
    min-width: 288px;
    max-width: 600px;
}
.nav_link {
    padding: 4px 0;
}

.nav_sub_list {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--dow_green-text);
}
.arrow .donw-arrow {
    transform: rotate(180deg);
}
.donw-arrow {
    position: absolute;
    right: 24px;
    width: 22px;
    height: 22px;
    top: 4px;
    transition: transform .3s;
}
.link_show {
    margin-left: auto;
    border-left: 2px solid var(--dow_green-text);
    transition: height .4s;
    height: 0;
}
/* .nav_list:active {
    background-color: var(--silver);
    color: var(--total_black);
}
.nav_link:active {
    background-color: var(--silver);
    color: var(--total_black);
} */